img {
	width: 120px;
	position: absolute;
	top: 120px;
	left: 120px;
}
body {
  
  background: url("https://as1.ftcdn.net/v2/jpg/00/88/98/18/1000_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg") no-repeat ;
  
}

